In [16]:
msg = "1g23A456b7c8Ahmed9" # even odd

Counter_odd= 0
Counter_even=0

for i in range(len(msg)):
    if (msg[i]).isnumeric() == True :
        if int(msg[i]) % 2 == 0 :
            Counter_even += 1 
        elif int(msg[i]) % 2 == 1:
            Counter_odd += 1

print("Counter_odd =", {Counter_odd}  ," ,Counter_even = " , {Counter_even})

Counter_odd = {5}  ,Counter_even =  {4}

In [15]:
msg = "1g23A456b7c8Ahmed9"

Counter_odd = 0
Counter_even = 0

for e in range(len(msg)):
    if msg[e].isdigit():  # Check if the character is a digit
        if int(msg[e]) % 2 == 0:
            Counter_even += 1
        elif int(msg[e]) % 2 == 1:
            Counter_odd += 1

print("Counter_odd = " + str(Counter_odd) + ", Counter_even = " + str(Counter_even))

Counter_odd = 5, Counter_even = 4

In [19]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]
count_big = 0
for e in range(len(numbers)):
    if numbers[e] >= 6:
        count_big += 1
        
count_big

4

In [40]:
objects = ['Ahmed', 1, 2, 5, 8, 9, True, 6.0, '$', "Mohamed", "Youssef", 3, 4, "$", 0.0, 0, 4, 2, 0]
even_count = 0
for e in range(len(objects)):
    if objects[e] == '$':
        break
    if type(objects[e]) == int and objects[e] % 2 == 0:
        even_count+= 1
        

even_count

2

In [53]:
objects = ['Ahmed', 1, 2, 5, 8, 9, '$', True, 6.0, '$', "Mohamed", "Youssef", 3, 4, "$", 0.0, 0, 4, 2, 0]

string_count = 0

for e in range(len(objects)):
        if type(objects[e]) == str and len(objects[e]) % 2 == 0  and  objects[e][0] != '$':
            string_count += 1
        
string_count

0

In [54]:
objects = ['Ahmed', 1, 2, 5, 8, 9, '$', True, 6.0, '$', "Mohamed", "Youssef", 3, 4, "$", 0.0, 0, 4, 2, 0]

alpha_count = 0
for e in range(len(objects)):
    if objects[e] == '$':
        break
    if isinstance(objects[e], str):
        alpha_count += 1

print("alpha_count =", alpha_count)

alpha_count = 1

In [56]:
objects = ['Ahmed', "Mohamed", "Yara", 1, 3, 5, 6, 7, 8]
result = []

for e in range(len(objects)):
    if type(objects[e]) == int and objects[e] % 2 == 0 :
        result.append(objects[e])


result

[6, 8]

In [65]:
numbers = [1, 2, 3, 4, 5]
new_numbers = []

for e in range(len(numbers)):
    if type(numbers[e]) == int and numbers[e] % 2 == 1:
        new_numbers.append(numbers[e])
new_numbers

[1, 3, 5]

In [66]:
numbers = [1, 2, 3, 4, 5]
new_numbers = []

for e in range(len(numbers)):
    if type(numbers[e]) == int and numbers[e] % 2 != 1:
        new_numbers.append(numbers[e])
new_numbers

[2, 4]

In [22]:
names = ('AhMed', "MOHamed", "AsmmA", "Youssef", "Abd-Elrahman", "YARa")


names= list(names)

new_names= []

for e in range(len(names)):
    if names[e][0].lower() != "a" :
        new_names.append(names[e].lower())
        
new_names= tuple(new_names)     
new_names

('mohamed', 'youssef', 'yara')

In [16]:
country_salaries = {
    'Egypt': 20000,
    'US': 597032,
    'KSA': 407032,
    'Canada': 500000,
    'Australia': 450000,
    'UK': 550000,
    'Germany': 600000,
    'France': 550000,
    'Italy': 450000,
    'Spain': 420000,
    'Japan': 620000,
    'South Korea': 580000,
    'China': 540000,
    'India': 150000,
    'Brazil': 220000,
    'Argentina': 200000,
    'Russia': 300000,
    'South Africa': 180000,
    'Nigeria': 100000,
    'Mexico': 240000,
    'Chile': 190000,
    'Colombia': 180000,
    'Peru': 170000,
    'Turkey': 250000,
    'Greece': 180000,
    'Sweden': 500000,
    'Norway': 550000,
    'Denmark': 520000,
    'Finland': 480000,
    'Netherlands': 530000,
    'Belgium': 510000,
    'Switzerland': 600000}

counter=0
for k, v in country_salaries.itemes():
    if v > 30000:
        counter+=1

counter

AttributeError: 'dict' object has no attribute 'itemes'