In [6]:
Name= "Ahmed"
counter_string= 0


for e in range(len(Name)):
    if Name[e].isalpha() == True :
        counter_string+= 1

print(counter_string)

5

In [8]:
## <p style="color:green;">Q.02 Given the string 'hello' give an index command that returns 'e'</p>


word="hello"

for i in range(len(word)):
    if word[i] == "e":
        print(word[i])

e

In [9]:
## <p style="color:green;">Q.03 Reverse the string 'hello' using slicing</p>
word="hello"
word = word[ : :-1]
word

'olleh'

In [11]:
## <p style="color:red;">Q.04 Write a Python program to change a given string to a new string where the first and last chars have been exchanged.</p>

word="hello"
word= word[-1] + word[1:4] + word [0]
word

'oellh'

In [31]:
list3 = [1,2,[3,4,'hello']]

for e in range(len(list3)):
    if isinstance(list3[e],list):
        for j in range(len(list3[e])):
            if list3[e][j] == "hello":
                list3[e][j] = 'goodbye'
            
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [24]:
list3 = [1, 2, [3, 4, 'hello']]

for e in range(len(list3)):
    if isinstance(list3[e], list):
        for j in range(len(list3[e])):
            if list3[e][j] == "hello":
                list3[e][j] = 'goodbye'

print(list3)

[1, 2, [3, 4, 'goodbye']]

In [36]:
list4 = [5,3,4,6,1]

sorted(list4)

[1, 3, 4, 5, 6]

In [37]:
## <p style="color:green;">Q.07 Write a Python program to sum all the items in a list.</p>

list4 = [5,3,4,6,1]

sum(list4)

19

In [39]:
max(list4)

6

In [40]:
min(list4)

1

In [42]:
mylist = ["a", "b", "a", "c", "c" , "d" , "b"]

mylist= set(mylist)

mylist

{'a', 'b', 'c', 'd'}

In [48]:
d = {'k1':{'k2':'hello'}}

for k , v in d.items():
   if isinstance(v , dict):
       for z, y in v.items():
           if y == 'hello':
               print (y)

hello

In [58]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}


for k , v in d.items():
    if isinstance(v , list):
        for e in range(len(v)):
            if isinstance (v[e] , dict):
                for z, y in v[e].items():
                    if isinstance ( y, list):
                        for i in range(len(y)):
                            if isinstance ( y[i], list):
                                for m in range(len(y[i])):
                                    if y[i][m] == "hello":
                                        print(y[i][m])

hello

In [60]:
## <p style="color:red;">Q.13 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}



for k , v in d.items():
    if isinstance (v , list):
        for e in range(len(v)):
             if isinstance (v[e] , dict):
                 for i, y  in v[e].items():
                     if isinstance (y , list):
                         for z in range(len(y)):
                             if isinstance (y[z] , dict):
                                 for w , h in y[z].items():
                                     if isinstance (h, list):
                                         for p in range(len(h)):
                                             if  isinstance (h[p], list):
                                                 for s in range(len(h[p])):
                                                     if h[p][s] == "hello":
                                                         print (h[p][s])

hello

In [67]:
Sample_Dictionary = {0: 10, 1: 20}

Sample_Dictionary.update({2: 30})

print(Sample_Dictionary)

{0: 10, 1: 20, 2: 30}

In [81]:
Sample_Dictionary = {0: 10, 1: 20, 2: 30}
type(Sample_Dictionary)

dict

In [83]:
new_list = list (Sample_Dictionary)
new_list

[0, 1]

In [94]:
Sample_Dictionary = {0: 10, 1: 20, 2: 30}

list_first= list(Sample_Dictionary.keys())
list_second=list(Sample_Dictionary.values())
Compined = list_first +list_second

Summation = sum(Compined)
Summation

63

In [95]:
## <p style="color:green;">Q.17 Write a Python program to convert a tuple to a string.</p>

('Salma', 'Mohamed', 'ibrahim', 'Dalia', ' HEsham')

In [100]:
## <p style="color:green;">Q.17 Write a Python program to convert a tuple to a string.</p>
test= ("Salma" , "Mohamed", "ibrahim", "Dalia")
test= str(test)

type(test)

str

In [101]:
set_example = { 1 , 2, 4 ,8 , 6}

set_example.remove( 4)
set_example

{1, 2, 6, 8}

In [103]:
set_first = { 2,4,5, 6, 8, 9}
set_second = { 1,4, 6, 3, 9}

intersection= set_first.intersection(set_second)

intersection

{4, 6, 9}

In [105]:
union= set_first.union(set_second)
union

{1, 2, 3, 4, 5, 6, 8, 9}

In [119]:
st = 'Print only the words that start with s in this sentence'

words=st.split()

for word in words:
    if word[0].lower() == "s":
        print(word)

start
s
sentence

In [129]:
List_numbers= list(range(1,51))
result_numbers=[]
for e in range(len(List_numbers)):
    if List_numbers[e] % 3 == 0 :
        result_numbers.append(List_numbers[e])

result_numbers

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [134]:
st = 'Print only the words that start with s in this sentence'
words = st.split()
for word in words:
    if len(word) == 7 :
        print(word)

print(word)

sentence

In [149]:
Password= input("Please write a password: ")
Correct_Password= "1999"

while True:
    if  Password == Correct_Password : 
        print("your password is correct")
        break
    else:
        Password= input("Please write a password: ")

Please write a password:  1999

your password is correct

In [147]:
Correct_Password = "1999"

while True:
    Password = input("Please write a password: ")
    if Password == Correct_Password:
        print("Your password is correct")
        break
    else:
        print("Incorrect password. Please try again.")

Please write a password:  15343

Incorrect password. Please try again.

Please write a password:  5256

Incorrect password. Please try again.

Please write a password:  1999

Your password is correct

In [155]:
list4 = [5,3,4,6,1]
summation == 0

for e in range(len(list4)):
    summation = sum( range(1,e)):
    print(summation)

SyntaxError: invalid syntax (583340235.py, line 5)

In [157]:
for i in range(8):
    print('* ' * (i+1))

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [158]:
for n in range(1, 10):
    for i in range(1, 11):
        print(f" {n} x {i} = {n * i}")
    print("", "-" * 50)

 1 x 1 = 1
 1 x 2 = 2
 1 x 3 = 3
 1 x 4 = 4
 1 x 5 = 5
 1 x 6 = 6
 1 x 7 = 7
 1 x 8 = 8
 1 x 9 = 9
 1 x 10 = 10
 --------------------------------------------------
 2 x 1 = 2
 2 x 2 = 4
 2 x 3 = 6
 2 x 4 = 8
 2 x 5 = 10
 2 x 6 = 12
 2 x 7 = 14
 2 x 8 = 16
 2 x 9 = 18
 2 x 10 = 20
 --------------------------------------------------
 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27
 3 x 10 = 30
 --------------------------------------------------
 4 x 1 = 4
 4 x 2 = 8
 4 x 3 = 12
 4 x 4 = 16
 4 x 5 = 20
 4 x 6 = 24
 4 x 7 = 28
 4 x 8 = 32
 4 x 9 = 36
 4 x 10 = 40
 --------------------------------------------------
 5 x 1 = 5
 5 x 2 = 10
 5 x 3 = 15
 5 x 4 = 20
 5 x 5 = 25
 5 x 6 = 30
 5 x 7 = 35
 5 x 8 = 40
 5 x 9 = 45
 5 x 10 = 50
 --------------------------------------------------
 6 x 1 = 6
 6 x 2 = 12
 6 x 3 = 18
 6 x 4 = 24
 6 x 5 = 30
 6 x 6 = 36
 6 x 7 = 42
 6 x 8 = 48
 6 x 9 = 54
 6 x 10 = 60
 --------------------------------------------------
 7 x 1 = 7
 7 x 2 = 14
 7 x 3 = 21
 7 x 4 = 28
 7 x 5 = 35
 7 x 6 = 42
 7 x 7 = 49
 7 x 8 = 56
 7 x 9 = 63
 7 x 10 = 70
 --------------------------------------------------
 8 x 1 = 8
 8 x 2 = 16
 8 x 3 = 24
 8 x 4 = 32
 8 x 5 = 40
 8 x 6 = 48
 8 x 7 = 56
 8 x 8 = 64
 8 x 9 = 72
 8 x 10 = 80
 --------------------------------------------------
 9 x 1 = 9
 9 x 2 = 18
 9 x 3 = 27
 9 x 4 = 36
 9 x 5 = 45
 9 x 6 = 54
 9 x 7 = 63
 9 x 8 = 72
 9 x 9 = 81
 9 x 10 = 90
 --------------------------------------------------