In [9]:
weekdays = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]


def get_the_following_five_days(today):
    the_following_five_days = []
    if today in weekdays:
        today_index = weekdays.index(today)  
        the_following_five_days = weekdays.remove(weekdays.index(today) , weekdays.index(today -1))
        
    else:
        return "Invalid input, please enter a valid weekday."

today = input("Please enter today's date: ").lower()
print(the_following_five_days)

Please enter today's date:  sunday

[]

In [13]:

weekdays = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]

def get_the_following_five_days(today):
    # List to store the following five days
    following_days = []
    
    if today in weekdays:
        today_index = weekdays.index(today)
        for i in range(1, 6):
            following_days.append(weekdays[(today_index + i) % len(weekdays)])
        
        return following_days
    else:
        return "Invalid input, please enter a valid weekday."

today = input("Please enter today's date: ").lower()
result = get_the_following_five_days(today)
print(result)

Please enter today's date:  monday

['tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [21]:
## <p style="color:green;">Q.01 Write a Python program to select a random element from a list. Use random.choice()</p>

listed = [1, 7, 8, 5, 9]

import random 
random.shuffle(listed)
print(listed)

[7, 9, 8, 5, 1]

In [27]:
weekdays = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]


def Three_days_in_row (today):
    the_Three_days =[]

    
    if today in weekdays:
        today_index=weekdays.index(today)
        for i in range (0,6):
            the_Three_days =  the_Three_day.append(weekdays[today_index] ,weekdays[today_index -1] ,weekdays[today_index +1])
        return the_Three_days
    else:
        return "Invalid input, please enter a valid weekday."
        
today = input("Please enter today's date: ").lower()
result = the_Three_days(today)
print(result)

Please enter today's date:  414

NameError: name 'the_Three_days' is not defined

In [28]:
weekdays = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]

def Three_days_in_row(today):
    the_Three_days = []
    
    if today in weekdays:
        today_index = weekdays.index(today)
        
        the_Three_days.append(weekdays[(today_index - 1) % len(weekdays)])  
        the_Three_days.append(weekdays[today_index])  # Today
        the_Three_days.append(weekdays[(today_index + 1) % len(weekdays)]) 
        
        
        return the_Three_days
    else:
        return "Invalid input, please enter a valid weekday."
        
today = input("Please enter today's date: ").lower()

result = Three_days_in_row(today)
print(result)

Please enter today's date:  monday

['monday', 'tuesday', 'sunday']

In [29]:
weekdays = ["sunday", "monday", "tuesday", "wednesday", "thursday", "friday", "saturday"]

def get_the_following_five_days(today):
    # List to store the following five days
    following_days = []
    
    if today in weekdays:
        today_index = weekdays.index(today)
        for i in range(1, 6):
            following_days.append(weekdays[(today_index + i) % len(weekdays)])
        
        return following_days
    else:
        return "Invalid input, please enter a valid weekday."

today = input("Please enter today's date: ").lower()
result = get_the_following_five_days(today)
print(result)

Please enter today's date:  monday

['tuesday', 'tuesday', 'tuesday', 'tuesday', 'tuesday']

In [35]:

def current_time_in_milliseconds (Hours):
    current_time_in_milliseconds = (Hours *3600000)
    return  current_time_in_milliseconds

Hours = float(input("Please enter the current time in 24 Format splitting it by . for example 12.45"))
result = current_time_in_milliseconds( Hours)
print(result)

Please enter the current time in 24 Format splitting it by . for example 12.45 13.15

47340000.0

In [34]:
def current_time_in_milliseconds(hours):
    # Extract hours and minutes
    whole_hours = int(hours)  # Get the whole number part (hours)
    minutes = (hours - whole_hours) * 100  # Get the fractional part (minutes)
    
    # Convert the time into milliseconds
    milliseconds = (whole_hours * 3600000) + (minutes * 60000)
    
    return milliseconds

# Get user input (hours in 24-hour format)
hours = float(input("Please enter the current time in 24-hour format, splitting hours and minutes by a decimal (e.g., 12.45): "))

result = current_time_in_milliseconds(hours)
print(f"The current time in milliseconds is: {result}")

Please enter the current time in 24-hour format, splitting hours and minutes by a decimal (e.g., 12.45):  14.20

The current time in milliseconds is: 51599999.99999999

In [ ]:
import os

current_directory = os.getcwd()

print("Current Working Directory:", current_directory)

In [ ]:
## <p style="color:green;">Q.01 Write a function takes a two-word string and returns True if both words begin with same letter</p>
> ('Levelheaded Llama') → True

> ('Crazy Kangaroo') → False

In [50]:
old_word_string = input("Please entre a two word string Seperated by space")
seperation = old_word_string.split()

for i in range(0,1):
    if seperation[i][0].lower() == seperation[i+1][0].lower():
        print("True")
    else:
        print("false")

Please entre a two word string Seperated by space passant fouad

false

In [79]:
number1= int(input("enter number1"))
number2 =int(input("enter number2"))
    
if number1 % 2 == 0 and number2 % 2 == 0:
    result = min ([number1 ,number2])
elif number1 % 2 == 1 or number2 % 2 == 1:
    result = max ([number1 ,number2])
print(result)

enter number1 5
enter number2 2

5

In [72]:
number1 = 2
number2 = 4
result = max ([number1 ,number2])
result

4

In [73]:
number1 = 5
number2 = 4
result = min ([number1 ,number2])
result

4

In [86]:
name = ("ahmed")
New_Name = name[0].capitalize() + name[1:3:] + name[3].capitalize()+ name [4: ]
New_Name

'AhmEd'

In [97]:
Sentence = ("i am home")
Words= Sentence.split()

reserved_Sentence_List = Words[ : :-1]
reserved_Sentence_in_one_sentence = " ".join(reserved_Sentence_List)

reserved_Sentence_in_one_sentence

'home am i'

In [14]:

def has_3_in_array(numbers):
    for i in range(len(numbers)):
       if numbers[i] and numbers[i+1] == 3 :
           return True 
       else:
           return False

In [16]:
numbers = [1,5,3]
has_3_in_array(numbers)

False

######

In [31]:

##blackjack(5,6,7) → 18

##blackjack(9,9,9) → 'BUST'

##blackjack(9,9,11) → 19

Number1= int(input("Please entre Number1 between 1 and 11"))
Number2=int(input("Please entre Number2  between 1 and 11"))
Number2=int(input("Please entre Number3  between 1 and 11"))
result = []

List_of_numbers =[Number1,Number2,Number2]

if sum(List_of_numbers) <= 21 :
    result = sum(List_of_numbers)

elif sum(List_of_numbers) > 21  and set(List_of_numbers).intersection({11}) == {11}:
    result = sum(List_of_numbers) -10

elif  sum(List_of_numbers) > 21:
    result = ["BUST"]


print (result)

Please entre Number1 between 1 and 11 9
Please entre Number2  between 1 and 11 9
Please entre Number3  between 1 and 11 11

21

In [12]:
## <p style="color:red;">Q.07 SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.</p>
##summer_69([1, 3, 5]) → 9

##summer_69([4, 5, 6, 7, 8, 9]) → 9

##summer_69([2, 1, 6, 9, 11]) → 14



Counter = 0
while True:
    Number = int(input("Please entre a number"))
    Counter= Counter+1
    if Counter == 10:
        break 

Numbers_List = list(Numbers)
for i in range(len(Numbers)):
    Numbers[i] = int(Numbers[i])
    
    if int(Numbers[i]) == 6:
        break
    elif int(Numbers[i]) == 9:
        continue 

sum(Numbers_List)

Please entre list of numbers 1 ,2, 3

ValueError: invalid literal for int() with base 10: ' '

In [15]:
Counter = 0
while True:
    Number = int(input("Please entre a number"))
    Counter= Counter+1
    if Counter == 10:
        break 

Numbers_List = list(Number)
print(Numbers_List)

Please entre a number 1
Please entre a number 2
Please entre a number 3
Please entre a number 4
Please entre a number 5
Please entre a number 6
Please entre a number 7
Please entre a number 8
Please entre a number 9
Please entre a number 10

TypeError: 'int' object is not iterable

In [19]:
Listed = [1, 2, 3, -4]
multiply = 1

for i in range(len(Listed)):
    multiply = multiply * Listed[i]


print(multiply)

-24

In [25]:
Names = [ "asser","passant","ahmed","malek"]
ages=[ 5,4,15,12]
grades= [ "Q" , "D", "M","P"]

with open("data_listed.csv", mode = "w" , encoding = "utf-8") as fd:
    fd.write("Names,Age,Grades\n")
    
    for i in range(len(Names)):
        fd.write(f"{Names[i]},{ages[i]},{grades[i]}\n")

In [22]:

def Append_new_number(numbers , Number):
    numbers_list  = list(numbers)
    numbers_list.append(Number)
    numbers = tuple(numbers_list )
    return numbers

In [27]:
numbers = (1, 2, 3)
new_number = 4
updated_numbers = Append_new_number(numbers, new_number)
print(updated_numbers)

(1, 2, 3, 4)

In [26]:
def Append_new_number(numbers, Number):
    numbers_list = list(numbers)
    numbers_list.append(Number)
    numbers = tuple(numbers_list)
    return numbers


numbers = (1, 2, 3)
new_number = 4
updated_numbers = Append_new_number(numbers, new_number)
print(updated_numbers)

(1, 2, 3, 4)

In [ ]:
## <p style="color:green;">Q.18 Using filter() function filter the list so that only negative numbers are left.</p>
> lst1  [12,-1,9,8,-.5,-.2,-100]

In [ ]:
## <p style="color:orange;">Q.17 Write a Python program to square the elements of a list using map() function.</p>

In [35]:
listed = [1,2,3,4]

def Squared_List(arg):
    return arg ** 2
list(map(Squared_List, listed))

[1, 4, 9, 16]

In [36]:
listed_New = [1,2,3,4 ,5 ,7]


def triple_numbers (arg):
    return arg*arg*arg

list(map (triple_numbers ,listed_New ))

[1, 8, 27, 64, 125, 343]

In [49]:
numbers = [10 , 11, 12]

def add_two_for_each_number(numbers):
    for i in range(len(numbers)):
        numbers[i] = numbers[i]+2
    return numbers

In [50]:
numbers = [10 , 11, 12]
add_two_for_each_number(numbers)

[12, 13, 14]

In [53]:

numbers = [10 , 11, 12]
def two_adding (number):
   return number+2

list(map(two_adding , numbers))

[12, 13, 14]

In [ ]:
>

In [57]:
lst1 = [12,-1,9,8,-.5,-.2,-100]

def pos_numbers (arg):
    if arg < 0:
        return True 
    else:
        return False

list(filter(pos_numbers,lst1))

[-1, -0.5, -0.2, -100]

In [59]:
 lst2 =  [22,100,19,13,11,1,4,66]



def odd_numbers(arg):
    if arg %2 == 1:
        return True 
    else:
        return False 

list(filter(odd_numbers,lst2))

[19, 13, 11, 1]

In [63]:
 lst = [1000,500,600,700,5000,90000,17500]

def below_8000 (arg):
    if arg <8000:
        return arg

New_List = (list(filter(below_8000,lst)))

def add_2000 (arg):
    return arg +2000

Final_list = list( map (add_2000,New_List))

Final_list

[3000, 2500, 2600, 2700, 7000]

In [66]:

from functools import reduce
def multiplation ( arg1, arg2):
    return arg1*arg2
Variables = [ 5 , 3]
reduce (multiplation ,Variables)

15

In [77]:
Original_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even_result = []
Odd_result = []
        
list (map(lambda arg : Odd_result.append(arg) if  arg % 2 == 1 else Even_result.append(arg) , Original_list))

[None, None, None, None, None, None, None, None, None, None]

In [73]:
 Original_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


Even_result = []
Odd_result = []

for i in range(len(Original_list)):
    if i % 2 == 1:
        Odd_result.append(i)
    else:
        Even_result.append(i)

print(Even_result)
print(Odd_result)

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [80]:
Original_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Even_result = list(filter(lambda arg: arg % 2 == 0, Original_list))
Odd_result = list(filter(lambda arg: arg % 2 == 1, Original_list))

print(Even_result)
print(Odd_result)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [82]:
## Write a Python program to add three given lists using Python map and lambda.


Original_list=[1, 2, 3, 4, 5]
Even_result = [2, 4, 6, 8, 10]
Odd_result = [1, 3, 5, 7, 9]

list(map(lambda Original_list[i] , Even_result[i], Odd_result[i] : Original_list[i]+Even_result[i]+Odd_result[i],Original_list ,Even_result,Odd_result))

SyntaxError: invalid syntax (1588192408.py, line 8)

In [83]:
# Given lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Use map and lambda to add the corresponding elements
result = list(map(lambda x, y, z: x + y + z, list1, list2, list3))

print("Result:", result)

Result: [12, 15, 18]

In [85]:
##e a Python program to create a lambda function that adds 15 to a given number passed in as an argument
list1 = [1, 2, 3]

list(map(lambda arg: arg+15 , list1))

[16, 17, 18]

In [97]:

def is_palindrome (Name):
    if Name == Name [::-1]:
        return True 
    else:
        return False

In [98]:
Name ="ama"

is_palindrome (Name)

True

In [92]:
def is_palindrome(Name):
    # Check if the string is equal to its reverse
    if Name == Name[::-1]:
        return True
    else:
        return False

# Example usage
Name = input("Please enter an input: ")
result = is_palindrome(Name)
print("Is the input a palindrome?", result)

Please enter an input:  ama

Is the input a palindrome? True

In [ ]:
##Write a function that checks whether a number is in a given range (inclusive of high and low)</p>