In [5]:
country_salaries = {
    'Egypt': 20000,
    'US': 597032,
    'KSA': 407032,
    'Canada': 500000,
    'Australia': 450000,
    'UK': 550000,
    'Germany': 600000,
    'France': 550000,
    'Italy': 450000,
    'Spain': 420000,
    'Japan': 620000,
    'South Korea': 580000,
    'China': 540000,
    'India': 150000,
    'Brazil': 220000,
    'Argentina': 200000,
    'Russia': 300000,
    'South Africa': 180000,
    'Nigeria': 100000,
    'Mexico': 240000,
    'Chile': 190000,
    'Colombia': 180000,
    'Peru': 170000,
    'Turkey': 250000,
    'Greece': 180000,
    'Sweden': 500000,
    'Norway': 550000,
    'Denmark': 520000,
    'Finland': 480000,
    'Netherlands': 530000,
    'Belgium': 510000,
    'Switzerland': 600000}

counter=0

for k, v in country_salaries.items():
    if v > 30000:
        counter+=1

counter

31

In [19]:
## <p style="color:green;">Q.05 Reassign 'hello' in this nested list to say 'goodbye' instead</p>
list3 = [1,2,[3,4,'hello']]
updated_list=[]
for e in range(len(list3)):
    for i in range(len(list3[i])):
        if list3[e][i] == "hello":
            updated_list= list3.remove("hello") + ["goodbye"]

updated_list

NameError: name 'i' is not defined

In [20]:
list3 = [1,2,[3,4,'hello']]
updated_list= list3.remove('hello') 
updated_list=updated_list+["goodbye"]

ValueError: list.remove(x): x not in list

In [25]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

In [30]:
list4 = [5,3,4,6,1]

Summation= 0
for e in (list4):
    Summation += e

Summation

19

In [29]:
list4 = [5, 3, 4, 6, 1]

Summation = 0
for e in list4:
    Summation += e

print(Summation)

19

In [34]:
list4 = [5, 3, 4, 6, 1]

max(list4)

6

In [35]:
min(list4)

1

In [43]:
mylist = ["a", "b", "a", "c", "c" , "d" , "b"]
New_data= set(mylist)
New_data

{'a', 'b', 'c', 'd'}

In [54]:
d = {'k1':{'k2':'hello'}}

for k,v in d.items:
    if v == 'hello':
        print(v)

TypeError: 'builtin_function_or_method' object is not iterable

In [ ]:
## <p style="color:green;">Q.14 Write a Python script to add a key to a dictionary.</p>
> Sample Dictionary : {0: 10, 1: 20}

> Expected Result : {0: 10, 1: 20, 2: 30}

In [56]:
Sample_dictionary = {0: 10, 1: 20}

Sample_dictionary.update({2: 30})

Sample_dictionary

{0: 10, 1: 20, 2: 30}

In [62]:
example_dictionary = {"Ahmed": 10, "Asser": 20,"Malek": 30}

sum(example_dictionary.values())

60

In [65]:
test= ("Salma" , "Mohamed", "ibrahim", "Dalia")
test=list(test)
test.append("shady")
test=tuple(test)
print(test)

('Salma', 'Mohamed', 'ibrahim', 'Dalia', 'shady')

In [73]:
test = ("Salma", "Mohamed", "ibrahim", "Dalia")
test = str(test)
type(test)

str

In [72]:
test = ("Salma", "Mohamed", "ibrahim", "Dalia")
test = str(test)
type(test)

str

In [75]:
set_example = { 1 , 2, 4 ,8 , 6}

set_example.discard(4)

set_example

{1, 2, 6, 8}

In [77]:
set_first = { 2,4,5, 6, 8, 9}
set_second = { 1,4, 6, 3, 9}

set_first.union(set_second)

{1, 2, 3, 4, 5, 6, 8, 9}

In [78]:
list3 = str( [1,2,[3,4,'hello']])
list3 = list3.replace('hello', 'goodbye')
print(list3)

[1, 2, [3, 4, 'goodbye']]

In [79]:
d = {'k1':{'k2':'hello'}}

d=list({'k1':{'k2':'hello'}})

for e in range(len(d)):
    if e == 'hello':
        e=='goodbye' 

print(d)

['k1']

In [83]:
d = {'k1':{'k2':'hello'}}

nested_dict = d.get('k1')
value = nested_dict.get('k2')

value

'hello'

In [ ]:
## <p style="color:orange;">Q.12 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
> d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

nested_dict = d.get('k1')
value = nested_dict.get('k2')

value

In [88]:
st = 'Print only the words that start with s in this sentence'
words = st.split()

New_Phrase= ""
for word in words:
    if [e][0] == "s":
        New_Phrase =+ word

New_Phrase

''

In [1]:
set_first = { 2,4,5, 6, 8, 9}
set_second = { 1,4, 6, 3, 9}

set_first.intersection(set_second)

{4, 6, 9}