In [1]:
List3 = [ 5,4,8,6]

sorted(List3)

[4, 5, 6, 8]

In [6]:
sum(List3)

23

In [7]:
max(List3)

8

In [9]:
min(List3)

4

In [14]:
List8= [ 5,4,8,6 , 10 ,5 ,6]
List8 = set(List8)
List8 = list (List8)
List8

[4, 5, 6, 8, 10]

In [17]:
Dicto= {"K1":{"K2":"hello"}}

for k,v in Dicto.items():
    if v == "hello":
     print(v)

In [19]:
Dicto = {"K1": {"K2": "hello"}}

for k, v in Dicto.items():
    if "hello" in v.values():
        print("hello")

hello

In [23]:
## <p style="color:red;">Q.13 Using keys and indexing, grab the 'hello' from the following dictionaries:</p>
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

the_word = d["k1"][2]["k2"][1]['tough'][2]

the_word

['hello']

In [29]:
Sample_Dictionary ={0: 10, 1: 20}

Sample_Dictionary.update({2:30})
Sample_Dictionary

{0: 10, 1: 20, 2: 30}

In [32]:
Sample_Dictionary [3] = 40
Sample_Dictionary

{0: 10, 1: 20, 2: 30, 3: 40}

In [44]:

Summation = sum(list(Sample_Dictionary.values())) + sum(list(Sample_Dictionary.keys()))
Summation

106

In [61]:
tested = (4,5,6.7)
New_tested = list(tested)
New_tested.insert(4,3)
New_tested_tuple = tuple(New_tested)

print(New_tested_tuple)

(4, 5, 6.7, 3)

In [60]:
tested = (4, 5, 6.7)
New_tested = list(tested)
New_tested.insert(4, 3)
New_tested_tuple = tuple(New_tested)
New_tested_tuple

(4, 5, 6.7, 3)

In [65]:
## <p style="color:green;">Q.17 Write a Python program to convert a tuple to a string.</p>
tell_me = ("P", "a","s", "s" ,"a", "n", "t")
New_list_tell_me = list(tell_me)
New_String_tell_me = "".join(New_list_tell_me)
New_String_tell_me

'Passant'

In [68]:
## <p style="color:green;">Q.18 Write a Python program to remove item(s) from a given set.</p>
stted = {1,2,2,5}
New_stted = list(stted)
New_stted.remove(1)
New_New = set(New_stted)
New_New

{2, 5}

In [ ]:

Exercise 1: Calculate the multiplication and sum of two numbers
Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

Given 1:

number1 = 20
number2 = 30
Expected Output:

The result is 600
Given 2:

number1 = 40
number2 = 30

In [71]:
Number_one = int(input("Please entre number one"))
Number_two = int(input("Please entre number two"))
Multiplation = 1

if Number_one * Number_two <= 1000 :
    print(f"you can return your product as the total value is {Number_one * Number_two}")

else:
    print(f"you can't return your product as the total value is {Number_one + Number_two}")

Please entre number one 20
Please entre number two 30

you can return your product as the total value is 600

In [75]:
## Exercise 2: Print the Sum of a Current Number and a Previous number
## Write a Python code to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.


for i in range(1,11):
    print(f"the current number is {i}  and the pervious number is {i-1} and the Sum is {i+ i-1}")

the current number is 1  and the pervious number is 0 and the Sum is 1
the current number is 2  and the pervious number is 1 and the Sum is 3
the current number is 3  and the pervious number is 2 and the Sum is 5
the current number is 4  and the pervious number is 3 and the Sum is 7
the current number is 5  and the pervious number is 4 and the Sum is 9
the current number is 6  and the pervious number is 5 and the Sum is 11
the current number is 7  and the pervious number is 6 and the Sum is 13
the current number is 8  and the pervious number is 7 and the Sum is 15
the current number is 9  and the pervious number is 8 and the Sum is 17
the current number is 10  and the pervious number is 9 and the Sum is 19

In [77]:


name= "PYnative"

for i in range(len(name)):
    if i % 2 == 0:
        print(name[i])

P
n
t
v

In [99]:
def remove_char (name, number_of_char):
    New_name = name[number_of_char : ]
    return New_name

In [100]:
name="Ahmedamin"
indices = 4
name[5: ]

'amin'

In [101]:
remove_char ("ibrahim", 3)

'ahim'

In [110]:
List_one = [75, 65, 35, 75, 30]

if List_one[-1] == List_one[0]:
    print("True")
else:
    print("False")

False

In [128]:
##Write a Python code to display numbers from a list divisible by 5

list_devisable =[]

def devisible_by_5 (Numbers):
    for i in range(len(Numbers)):
        if Numbers[i] % 5 == 0 :
            list_devisable.append(Numbers[i])
    return list_devisable

In [129]:
Given_list=[10, 20, 33, 46, 55]
devisible_by_5 (Given_list)

[10, 20, 55]

In [135]:
##Exercise 7: Find the number of occurrences of a substring in a string
##Write a Python code to find how often the substring “Emma” appears in the given string.

str_x = "Emma is good developer. Emma is a writer"

New_str_x = (str_x).split()

Counter = 0

for i in range(len(New_str_x)):
    if New_str_x[i] == "Emma":
        Counter+= 1

print(f" the Emma word appeard {Counter}")

 the Emma word appeard 2

In [145]:
## Exercise 8: Print the following pattern

counter = 0

for i in range(1,6):
    string_i = str(i)
    print(string_i * (i))

1
22
333
4444
55555

In [153]:
def palindrome(number):
    New_number = str(number)
    if New_number[0] == New_number[-1]:
        return True 
    else:
        return False

In [157]:
palindrome(74565)

False

In [ ]:
## Exercise 10: Merge two lists using the following condition
Given two lists of numbers, write a Python code to create a new list such that the latest list should contain odd numbers from the first list and even numbers from the second list

In [162]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
New_List = []

for i  in range(len(list1)):
    if list1[i] % 2 == 1 :
        New_List.append(list1[i])

for j  in range(len(list2)):
    if list2[j] % 2 == 0:
        New_List.append(list2[j])

New_List

[25, 35, 40, 60, 90]

In [ ]:
###Exercise 11: Get each digit from a number in the reverse order.
For example, If the given integer number is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [168]:
Number = input("Please entre a number")
resreved_number = list(Number[::-1])

New_resreved_number = " ".join(resreved_number)

New_resreved_number

Please entre a number 134641

'1 4 6 4 3 1'

In [190]:
### Exercise 13: Print multiplication table from 1 to 10


for i in range(1,11):
    for j in range(1,11):
        New_item = (i * j)
        print(New_item , end = " ")

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 6 12 18 24 30 36 42 48 54 60 7 14 21 28 35 42 49 56 63 70 8 16 24 32 40 48 56 64 72 80 9 18 27 36 45 54 63 72 81 90 10 20 30 40 50 60 70 80 90 100

In [192]:
        for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10 2 4 6 8 10 12 14 16 18 20 3 6 9 12 15 18 21 24 27 30 4 8 12 16 20 24 28 32 36 40 5 10 15 20 25 30 35 40 45 50 6 12 18 24 30 36 42 48 54 60 7 14 21 28 35 42 49 56 63 70 8 16 24 32 40 48 56 64 72 80 9 18 27 36 45 54 63 72 81 90 10 20 30 40 50 60 70 80 90 100

In [214]:
for i in range(6,0,-1):
    for j in range (0, i-1):
        print("*"  , end = " ")
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [212]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [218]:
st = 'Print only the words that start with s in this sentence'

New_word = st.split()
list_New = 

for i in range(len(New_word)):
    if New_word[i][0].lower() == "s":
        print(New_word[i])

start
s
sentence

In [220]:
##comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.</p>
List_devisble_3 = []
for i in range(50):
    if i % 3 == 0 :
        List_devisble_3.append(i)

List_devisble_3

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [225]:
Word = input('Print only the words that start with s in this sentence : ')
Word_devison = Word.split()
for i in Word_devison:
    if len(i) % 2 == 0 :
        print(i)

Print only the words that start with s in this sentence :  i love you ahmed

love

In [231]:
listed = [number for number in range (1,1001) if "3" in str(number)]

listed

[3,
 13,
 23,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 43,
 53,
 63,
 73,
 83,
 93,
 103,
 113,
 123,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 143,
 153,
 163,
 173,
 183,
 193,
 203,
 213,
 223,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 243,
 253,
 263,
 273,
 283,
 293,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 403,
 413,
 423,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 443,
 453,
 463,
 473,
 483,
 493,
 503,
 513,
 523,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 543,
 553,
 563,
 573,
 583,
 593,
 603,
 613,
 623,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 643,
 653,
 663,
 673,
 683,
 693,
 703,
 713,
 723,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 743,
 753,
 763,
 773,
 783,
 793,
 803,
 813,
 823,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 843,
 853,
 863,
 873,
 883,
 893,
 903,
 913,
 923,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 943,
 953,
 963,
 973,
 983,
 993]

In [233]:
##Count the number of spaces in a string

Too = input("Count the number of spaces in a string")
Counter = 0
test = [ i for i in range(len(too)) if i == " "  counter +=1]

SyntaxError: invalid syntax (2769226028.py, line 5)

In [234]:
while True :
    Password = input("Please entre the password")
    if Password == "1999":
        print("the password is correct")
        break 
    else:
        print("the password isn't correct")

Please entre the password 16543

the password isn't correct

Please entre the password 242774

the password isn't correct

Please entre the password 1999

the password is correct

In [245]:
Given_number = int(input("Please entre a number"))
New_List = []
Summation = 0
for i in range(1 , Given_number+1):
    Summation+=i
    
Summation

Please entre a number 5

15

In [252]:
##Replace every positive number by 1, Replace every negative number by 2.</p>
list_3 = [19, 20, 21, 10, -53, -23, 10]
New_List = []


for i in range(len(list_3)):
    if list_3[i] < 0 :
        New_List.append(2)
    elif list_3[i] > 0 :
        New_List.append(1)
New_List

[1, 1, 1, 1, 2, 2, 1]

In [255]:
##  Write a Python program to create the multiplication table (from 1 to 10) of a number.</p>


for i in range(1,11):
    for j in range(1,11):
        print(f"{i} * {j} = { i*j}")
    print("*" * 10)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
**********
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
**********
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
**********
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
**********
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
**********
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
**********
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
**********
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
**********
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
**********
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
**********

In [262]:
number = int(input("Please entre a number"))

for i in range(1,11):
    print(f"{number} * {i} = { number*i }")
print("*" * 10)

Please entre a number 5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
**********

In [267]:

try :
    number_3= int(input("Please entre a number"))
    number_4= int(input("Please entre a number"))
    print(number_3/number_4)
except ZeroDivisionError:
    print("you cann't devide by 0")

except ValueError:
    print("please entre a number not letter")

else:
    print(number_3/number_4)

finally:
    print("you did a great job")

Please entre a number h

please entre a number not letter
you did a great job

In [277]:
def muliplation (numbers):
    Multiply = 1
    for i in range(len(numbers)):
        Multiply = Multiply * numbers[i]
    return Multiply

In [278]:
one_two = [5,8,6,1]

muliplation(one_two)

240

In [286]:
def piolderme (name):
    if name == name[ : :-1]:
        return ("it is piolderme")
    else:
        return ("it isn't piolderme")

In [287]:
piolderme ("Pasta")

"it isn't piolderme"

In [334]:

def How_many_years (Limak_weight , Bob_weight):
    Years_counter = 0
    for i in range (1,100):
        Limak_weight = Limak_weight * 3
        Bob_weight = Bob_weight *2
        Years_counter += 1
        if Limak_weight >= Bob_weight:
            return Years_counter
            break

In [343]:
How_many_years(3,16)

5

In [345]:
lst = [ 2,4,6,8]

def double(arg):
    arg = arg*arg
    return arg

list(map(double , lst))

[4, 16, 36, 64]

In [346]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [350]:
def is_odd (arg):
    if arg % 2 == 1:
      return arg

Liey=[1, 2, 3, 4, 5, 6, 7, 8, 9]
list(filter( is_odd , Liey ))

[1, 3, 5, 7, 9]

In [355]:
lst= [ "ahmed" , "yousef" , "Asser"]
list(enumerate(lst))

[(0, 'ahmed'), (1, 'yousef'), (2, 'Asser')]

In [356]:
listed = [2,3,5]

list(map(lambda arg : arg*3 , listed))

[6, 9, 15]

In [357]:
age = [ 12,25,40,0,14,0,0,36]

list(filter(lambda arg: True  if arg != 0 else False , age))

[12, 25, 40, 14, 36]

In [359]:
data = ["java" , "Python" , "Java scrip"]
versions = [14,5,12]

list(zip(data,versions))

[('java', 14), ('Python', 5), ('Java scrip', 12)]

In [364]:
Number= int(input("Please entre a number"))
list(lambda arg : arg +15 ,Number)

Please entre a number 5

TypeError: list expected at most 1 argument, got 2

In [366]:
##Lambda function with multiple arguments
multiply = lambda  arg1 , arg2 : arg1 * arg2 
multiply(3,7)

21

In [ ]:
Original list of tuples:[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

lambda arg